# MongoDB Configuration
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=your_db
MONGO_COLLECTION=archived_cards

# Trello Configuration
TRELLO_API_KEY=your_trello_api_key_here
TRELLO_TOKEN=your_trello_token_here
TRELLO_BOARD_ID=your_board_id_here

# AWS Configuration
WEBHOOK_CALLBACK_URL=https://xxxxx.execute-api.region.amazonaws.com/trello
AWS_REGION=eu-west-1
AWS_PROFILE=default

# Lambda Function Name
LAMBDA_FUNCTION_NAME=trelloWebhookHandler
